
.container {
padding-bottom: 75px;
margin: 10px;
}

.button-options{
align-items: center;
margin-left: 15pt;
}


.Exercise-content{
border: solid black;
width: 95%;
max-width: 400px;
margin: 8px;
padding: 10px;
border-radius: 15px;
background-color:blanchedalmond;
}
.Exercise-content-liked {
	border: solid black;
	width: 95%;
	max-width: 400px;
	margin: 8px;
	padding: 10px;
	border-radius: 15px;
	background-color: lightgreen;
}

#name{
width: 100%;
inline-size: min-content;
}

.exercise-list{
height: 28px;
}

.filter-section{
border-radius: 15px;
}


p{
margin-right: 5pt;
padding: -10pt;
}
