.suggestion-container {
	margin: 25px;
	padding: 10px;
	border: 1px solid black;
}

th{
font-size: 11pt;

}

.image-container{
width:auto;
min-width: max-content;
}

#home-image{
border: solid black 2pt;
border-radius: 10pt;
}

.welcome{
 margin-left: 20pt;
}

