.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
position: fixed;
bottom: 0;
  background-color: #348d2d;
  overflow: hidden;
width: '100vw';
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #348d2d;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 1pt;
	width: 46pt;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

