.about-paragraph{
margin: 15pt;
font-size: 12pt;
}

.tech-list{
width: auto;
text-indent: 2pt;
text-align: center;
}

ul.unordered-list{
display: inline-block;
text-align: left;
}

image{
width: max-content;
height: max-content;
}